.loader{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color:darkslateblue
}

@media only screen and (min-width:350px) {
    .service-heading{
        margin-top: 0px!important;
    }
}
