.loader{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color:darkslateblue
}

@media only screen and (min-width:550px) and (max-width:650px){
    .service-heading{
        margin-top: 100px!important;
    }
}
@media only screen and (min-width:720px) and (max-width:780px){
    .service-heading{
        margin-top: 50px!important;
    }
}
@media only screen and (min-width:400px) and (max-width:450px){
    .service-heading{
        margin-top: 70px!important;
    }
}