.navbar{
    background-color: darkviolet;
    
}
.nav-link{
    color: white!important;
}
.logo-name{
    font-size: 2.2rem;
    color: white!important;
}
.log-out{
    background-color: white!important;
    color: darkslateblue!important;
    border: none;
}